<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span jhiTranslate="ordersManagementApp.order.detail.title">Order</span> {{order.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ordersManagementApp.order.customerPrice">Customer Price</span></dt>
                <dd>
                    <span>{{order.customerPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ordersManagementApp.order.carrierPrice">Carrier Price</span></dt>
                <dd>
                    <span>{{order.carrierPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ordersManagementApp.order.customerCurrency">Customer Currency</span></dt>
                <dd>
                    <span jhiTranslate="{{'ordersManagementApp.Currency.' + order.customerCurrency}}">{{order.customerCurrency}}</span>
                </dd>
                <dt><span jhiTranslate="ordersManagementApp.order.carrierCurrency">Carrier Currency</span></dt>
                <dd>
                    <span jhiTranslate="{{'ordersManagementApp.Currency.' + order.carrierCurrency}}">{{order.carrierCurrency}}</span>
                </dd>
                <dt><span jhiTranslate="ordersManagementApp.order.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="order.customer">
                        <a [routerLink]="['/contractor', order.customer?.id, 'view']">{{order.customer?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ordersManagementApp.order.carrier">Carrier</span></dt>
                <dd>
                    <div *ngIf="order.carrier">
                        <a [routerLink]="['/contractor', order.carrier?.id, 'view']">{{order.carrier?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ordersManagementApp.order.forwarder">Forwarder</span></dt>
                <dd>
                    <div *ngIf="order.forwarder">
                        <a [routerLink]="['/forwarder', order.forwarder?.id, 'view']">{{order.forwarder?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ordersManagementApp.order.loadingPlace">Loading Place</span></dt>
                <dd>
                    <div *ngIf="order.loadingPlace">
                        <a [routerLink]="['/address', order.loadingPlace?.id, 'view']">{{order.loadingPlace?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ordersManagementApp.order.unloadingPlace">Unloading Place</span></dt>
                <dd>
                    <div *ngIf="order.unloadingPlace">
                        <a [routerLink]="['/address', order.unloadingPlace?.id, 'view']">{{order.unloadingPlace?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
