<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contractor-heading" jhiTranslate="ordersManagementApp.contractor.home.createOrEditLabel">Create or edit a Contractor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordersManagementApp.contractor.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordersManagementApp.contractor.vatId" for="field_vatId">Vat Id</label>
                    <input type="text" class="form-control" name="vatId" id="field_vatId"
                           formControlName="vatId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordersManagementApp.contractor.contactPerson" for="field_contactPerson">Contact Person</label>
                    <input type="text" class="form-control" name="contactPerson" id="field_contactPerson"
                           formControlName="contactPerson"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordersManagementApp.contractor.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ordersManagementApp.contractor.address" for="field_address">Address</label>
                    <select class="form-control" id="field_address" name="address" formControlName="address">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressOption.id === editForm.get('address')!.value?.id ? editForm.get('address')!.value : addressOption" *ngFor="let addressOption of addresses; trackBy: trackById">{{addressOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
